<%= turbo_frame_tag "location_details" do %>
  <%= render "locations/tabs", selected_tab: "notes" %>

  <div class="container pt-6 text-sm font-medium">
    <div class="flex items-center justify-between pb-6">
      <h2>Notes</h2>
      <%= link_to "Add Note", new_location_note_path(@location), class: "btn-primary", data: { turbo_frame: "_top" } %>
    </div>

    <ul role="list" class="space-y-6">
      <% @location.notes.each_with_index do |note, index| %>
        <li class="relative flex gap-x-4">
          <%= link_to location_note_path(@location, note), class: "flex w-full", data: { turbo_frame: "_top" } do %>
            <div class="absolute left-0 top-0 flex w-6 justify-center<%= " -bottom-6" if index < @location.notes.length - 1 %>">
              <div class="w-px bg-gray-200"></div>
            </div>
            <div class="relative flex h-6 w-6 flex-none items-center justify-center bg-white">
              <div class="h-1.5 w-1.5 rounded-full bg-gray-100 ring-1 ring-gray-300"></div>
            </div>
            <p class="flex-auto py-0.5 text-xs leading-5 text-stone-800 font-medium"><%= render partial: 'locations/notes/note_summary', locals: { note: } %></p>
            <time datetime="<%= note.created_at.utc.iso8601 %>" class="flex-none py-0.5 text-xs leading-5 text-gray-500"><%= note.created_at.strftime("%m/%d/%Y") %></time>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
