<div id="<%= dom_id plant %>">
  <h2 class="mr-14"><%= plant.common_name %></h2>
  <div class="text-lg font-bold text-stone-700">
    <%= plant.scientific_name %>
  </div>
  <% if plant.other_common_names.length > 0 %>
    <p class="my-5">
      <strong class="block font-medium mb-1">Other common names:</strong>
      <%= plant.other_common_names.join(", ") %>
    </p>
  <% end %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Bloom colors:</strong>
    <%= plant.bloom_colors.map(&:name).join(", ") %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Bloom time:</strong>
    <%= plant.bloom_months.map(&:month_name).join(", ") %>
  </p>
  <p class="my-5">
    <% if plant.photo.attached? %>
      <%= image_tag plant.photo.variant(:thumb), id: "thumbnail", class: "cursor-pointer" %>
    <% end %>
  </p>
</div>
<% if plant.photo.attached? %>
  <div id="image-modal" class="hidden fixed inset-0 z-50 justify-center items-center bg-black bg-opacity-50">
    <div class="flex justify-center w-5/6 h-5/6 relative">
      <div class="relative">
        <div class="flex justify-center items-center absolute -top-12 right-0 w-9 h-9 rounded-full bg-gray-700 hover:bg-gray-600 outline outline-1 outline-gray-100 shadow-sm cursor-pointer">
          <span id="close-modal" class="text-white text-3xl -mt-1">&times;</span>
        </div>
        <%= image_tag plant.photo, class: "object-contain max-w-full max-h-full rounded-lg" %>
      </div>
    </div>
  </div>
<% end %>
<script>
  document.getElementById("thumbnail")?.addEventListener("click", function() {
    document.getElementById("image-modal").classList.add("flex");
    document.getElementById("image-modal").classList.remove("hidden");
  });

  document.getElementById("close-modal")?.addEventListener("click", function() {
    document.getElementById("image-modal").classList.add("hidden");
    document.getElementById("image-modal").classList.remove("flex");
  });

  document.getElementById("image-modal")?.addEventListener("click", function(event) {
    if (event.target === this) {
      document.getElementById("image-modal").classList.add("hidden");
      document.getElementById("image-modal").classList.remove("flex");
    }
  });
</script>
