<div id="<%= dom_id plant %>">
  <h2 class="font-bold text-2xl"><%= plant.common_names.first %></h2>

  <p class="my-5">
    <strong class="block font-medium mb-1">Scientific name:</strong>
    <%= plant.scientific_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bloom colors:</strong>
    <%= plant.bloom_colors.map(&:name).join(", ") %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bloom time:</strong>
    <%= plant.bloom_months.map(&:month_name).join(", ") %>
  </p>

  <p class="my-5">
    <% if plant.photo.attached? %>
      <%= image_tag plant.photo.variant(:thumb) %>
    <% end %>
  </p>
</div>
