<div class="w-full"><% content_for :title, "Plants" %>
  <div class="flex justify-between items-center py-4">
    <h1>Plants</h1>
    <div class="flex gap-2">
      <%= link_to "New plant", new_plant_path, class: "btn-primary" %>
    </div>
  </div>
  <%= render partial: 'search' %>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div id="plant_list">
    <% if @plants.empty? %>
      <p class="text-center">No plants found.</p>
    <% else %>
      <% @plants.each do |plant| %>
        <%= link_to plant do %>
          <div class="flex gap-2 h-24 p-2 -mx-2 rounded hover:cursor-pointer hover:bg-cyan-50 hover:outline hover:outline-1 hover:outline-cyan-100 hover:transition duration-300">
            <div class="w-20 md:w-28">
              <% if plant.photo.attached? %>
                <%= image_tag plant.photo.variant(:thumb), class: "rounded border max-h-20" %>
              <% end %>
            </div>
            <div class="grow">
              <p class="text-xl font-bold"><%= plant.common_name %></p>
              <p><%= plant.scientific_name %></p>
            </div>
            <div class="hidden sm:block pr-2 text-right">
              <strong>Blooms</strong>
              <p><%= plant.bloom_colors.order(:name).map(&:name).join(", ") %></p>
              <p><%= plant.bloom_months.map(&:month_name).join(", ") %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
