<div id="show_<%= dom_id @plant %>">
  <div class="py-2">
    <%= link_to sanitize("&larr; Back"), plants_path %>
  </div>
  <% if notice.present? %>
    <div class="flex justify-center">
      <p class="notice" id="notice"><%= notice %></p>
    </div>
  <% end %>
  <%= render @plant %>
  <div class="mt-6 flex justify-center space-x-2">
    <%= link_to "Edit", edit_plant_path(@plant), class: "btn-secondary" %>
    <%= button_to "Delete", @plant, method: :delete, class: "btn-danger", form: { data: { turbo_confirm: "Are you sure?" } } %>
  </div>
</div>
