<%= turbo_frame_tag "location_details" do %>
  <%= render "tabs", selected_tab: "plants" %>

  <div class="container pt-4 text-sm font-medium">
    <div class="flex items-center justify-between pb-4">
      <h2>Plants</h2>
      <%= link_to "Add Plants", location_search_plants_path, data: { turbo_frame: "search_plants" }, onclick: "show('search_plants_modal')", class: "btn-primary" %>
    </div>

    <ul role="list">
      <% @location.plants.order(:common_name).each do |plant| %>
        <li class="flex items-center min-h-16 p-2 my-0.5 border border-stone-200 rounded">
          <%= link_to plant_summary_path(plant), data: { turbo_frame: "plant_summary" }, onclick: "show('plant_summary_modal')", class: "grow" do %>
            <div class="flex items-center">
              <div class="rounded-full w-10 h-10 mr-2 bg-stone-100 border border-stone-200 overflow-hidden">
                <%= image_tag plant.photo.variant(:thumb) if plant.photo.attached? %>
              </div>
              <span>
                <%= plant.common_name %>
              </span>
            </div>
          <% end %>
          <div class="text-red-800" id="remove_plant_<%= plant.id %>">
            <%= button_to 'Remove', location_remove_plant_path(@location, plant_id: plant.id), method: :delete, data: { turbo_frame: "plants", turbo_confirm: "Are you sure?" } %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

