<%= form_with(model: location, class: "contents") do |form| %>
  <% if location.errors.any? %>
    <%= render partial: "layouts/error_messages", locals: { errors: location.errors } %>
  <% end %>
  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "text-field", autofocus: true %>
  </div>
  <div class="inline">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
