<div class="w-full">
  <%= turbo_frame_tag "overview" do %>
    <p>
      <strong>Peak Bloom Months:</strong>
      <%= @overview[:peak_bloom_months].present? ? @overview[:peak_bloom_months].join(', ') : 'No data available' %>
    </p>
    <p>
      <strong>Dominant Colors:</strong>
      <%= @overview[:dominant_bloom_colors].present? ? @overview[:dominant_bloom_colors].join(', ') : 'No data available' %>
    </p>
    <div class="overflow-x-auto my-4">
      <div class="grid grid-cols-12 min-w-[700px] border border-stone-800 rounded shadow">
        <% Date::ABBR_MONTHNAMES.compact.each do |month| %>
          <div class="py-1 sm:font-semibold text-center text-white text-xs sm:text-base uppercase bg-stone-600 border-b-2 border-stone-400"><%= month %></div>
        <% end %>
        <% @plants_with_bloom_periods.each do |plant_info| %>
          <% (plant_info[:start_month] - 1).times do |i| %>
            <div class="<%= i == 0 ? 'border-r' : 'border-x' %>"></div>
          <% end %>
          <% span = plant_info[:span] %>
          <div style="grid-column: span <%= span %> / span <%= span %>;" class="bg-stone-300 rounded-xl h-8 border-b-2 sm:border-b-4 my-0.5 sm:my-1 border-stone-400 flex items-center justify-center text-stone-800 text-sm sm:text-base sm:font-medium font-medium">
            <%= plant_info[:plant].common_name %>
          </div>
          <% (12 - plant_info[:end_month]).times do |i| %>
            <div class="<%= i == (11 - plant_info[:end_month]) ? 'border-l' : 'border-x' %>"></div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
