<div class="w-full">
  <%= turbo_frame_tag "overview" do %>
    <p>
      <strong>Peak Bloom Months:</strong>
      <%= @overview[:peak_bloom_months].present? ? @overview[:peak_bloom_months].join(', ') : 'No data available' %>
    </p>
    <p>
      <strong>Dominant Colors:</strong>
      <%= @overview[:dominant_bloom_colors].present? ? @overview[:dominant_bloom_colors].join(', ') : 'No data available' %>
    </p>
    <div class="overflow-x-auto my-4">
      <div class="grid grid-cols-12 min-w-[700px] border border-stone-800 rounded shadow">
        <% Date::ABBR_MONTHNAMES.compact.each do |month| %>
          <div class="py-1 sm:font-semibold text-center text-white text-xs sm:text-base uppercase bg-stone-600 border-b-2 border-stone-400"><%= month %></div>
        <% end %>
        <% plants_by_start_month = @location.plants.includes(:bloom_months).sort_by { |plant| [plant.bloom_months.minimum(:id), plant.common_name] } %>
        <% plants_by_start_month.each do |plant| %>
          <% bloom_months = plant.bloom_months.order(:id) %>
          <% next if bloom_months.empty? %>
          <% start_month = bloom_months.first.id %>
          <% end_month = bloom_months.last.id %>
          <% span = end_month - start_month + 1 %>
          <% (start_month - 1).times do |i| %>
            <div class="<%= i == 0 ? 'border-r' : 'border-x' %>"></div>
          <% end %>
          <div class="col-span-<%= span %> bg-green-600 rounded-xl h-8 border-y-2 border-white flex items-center justify-center text-white text-sm sm:text-base sm:font-medium font-medium">
            <%= plant.common_name %>
          </div>
          <% (12 - end_month).times do |i| %>
            <div class="<%= i == (11 - end_month) ? 'border-l' : 'border-x' %>"></div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
