<%= turbo_frame_tag "plant_list" do %>
  <div class="space-y-0.5 max-w-xl xl:max-w-4xl mx-auto text-sm font-medium">
    <div class="flex items-center justify-between pb-4">
      <h2>Plants</h2>
      <%= link_to "Add Plants", search_plants_location_path, data: { turbo_frame: "search_plants" }, onclick: "show('search_plants_modal')", class: "btn-primary" %>
    </div>
    <ul>
      <% @location.plants.order(:common_name).each do |plant| %>
        <li class="flex items-center min-h-16 p-2 my-0.5 border border-stone-200 rounded">
          <%= link_to plant_summary_path(plant), data: { turbo_frame: "plant_summary" }, onclick: "show('plant_summary_modal')", class: "grow" do %>
            <div class="flex items-center">
              <% if plant.photo.attached? %>
                <div class="rounded-full w-10 h-10 mr-2 bg-stone-100 border border-stone-200 overflow-hidden">
                  <%= image_tag plant.photo.variant(:thumb) %>
                </div>
              <% else %>
                <div class="rounded-full w-10 h-10 mr-2 bg-stone-100 border border-stone-200"></div>
              <% end %>
              <span>
                <%= plant.common_name %>
              </span>
            </div>
          <% end %>
          <div class="text-red-800">
            <%= button_to 'Remove', remove_plant_location_path(@location, plant_id: plant.id), method: :delete, data: { turbo_frame: "plant_list", turbo_confirm: "Are you sure?" } %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
