<div id="show_<%= dom_id @location %>">
  <div id="modal_backdrop" class="fixed inset-0 z-10 w-full h-full bg-black bg-opacity-50 hidden transition-opacity">
  </div>
  <div id="search_plants_modal" class="fixed inset-0 z-20 mx-auto w-full md:w-2/3 max-h-screen overflow-y-auto hidden">
    <%= turbo_frame_tag "search_plants" %>
  </div>
  <div id="plant_summary_modal" class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20 w-full md:w-2/3 xl:w-1/2 bg-white shadow-lg h-auto hidden">
    <%= turbo_frame_tag "plant_summary" %>
  </div>
  <div class="pt-4 pb-2">
    <%= link_to sanitize("&larr; Back"), locations_path %>
  </div>
  <% if notice.present? %>
    <div class="flex justify-center">
      <p class="notice" id="notice"><%= notice %></p>
    </div>
  <% end %>
  <%= turbo_frame_tag @location do %>
    <div class="flex justify-between items-center">
      <h1><%= @location.name %></h1>
      <%= link_to "Edit", edit_location_path(@location), class: "btn-secondary" %>
    </div>
  <% end %>
  <div class="my-2">
    <%= render partial: "overview" %>
  </div>
  <div class="my-2">
    <%= render partial: "plant_list" %>
  </div>
  <div class="my-2">
    <%= render partial: "notes" %>
  </div>
  <div class="my-6 text-center">
    <%= button_to "Delete this location", @location, method: :delete, class: "btn-danger", form: { data: { turbo_confirm: "Are you sure?" } } %>
  </div>
</div>
<script>
  function show(modal_id) {
    document.getElementById(modal_id).classList.remove('hidden');
    document.getElementById('modal_backdrop').classList.remove('hidden');
    document.body.style.overflow = 'hidden'; // Disable background scroll
  }

  function hide(modal_id) {
    document.getElementById('modal_backdrop').classList.add('hidden');
    document.getElementById(modal_id).classList.add('hidden');
    document.body.style.overflow = '';
  }
</script>
