<div id="show_<%= dom_id @location %>">
  <div class="py-2">
    <%= link_to sanitize("&larr; Back"), locations_path %>
  </div>
  <%= turbo_frame_tag @location do %>
    <div class="flex justify-between items-start sm:items-center">
      <h1><%= @location.name %></h1>
      <%= link_to "Edit", edit_location_path(@location), class: "btn-secondary" %>
    </div>
  <% end %>
  <div class="my-2">
    <%= turbo_frame_tag "location_details" do %>
      <%= render "tabs", selected_tab: "overview" %>
      <div class="my-2">
        <%= render partial: "overview" %>
      </div>
      <div class="my-2">
        <%= render partial: "plants" %>
      </div>
    <% end %>
  </div>
</div>
