<div class="mx-auto md:w-2/3 w-full">
  <div id="modal_backdrop" class="absolute top-0 left-0 w-full h-full backdrop-blur-lg hidden transition">
  </div>
  <div id="search_plants_modal" class="absolute top-0 left-0 w-full h-full hidden">
    <%= turbo_frame_tag "search_plants" %>
  </div>
  <div id="plant_summary_modal" class="absolute top-0 left-0 w-full h-full hidden">
    <%= turbo_frame_tag "plant_summary" %>
  </div>
  <div class="mb-6">
    <%= link_to sanitize("&larr; Back"), locations_path %>
  </div>
  <% if notice.present? %>
    <div class="flex justify-center">
      <p class="notice" id="notice"><%= notice %></p>
    </div>
  <% end %>
  <%= turbo_frame_tag @location do %>
    <div class="flex justify-between items-center mt-6">
      <h1><%= @location.name %></h1>
      <%= link_to "Edit", edit_location_path(@location), class: "btn-secondary" %>
    </div>
  <% end %>
  <div class="my-2">
    <%= render partial: "overview" %>
  </div>
  <div class="my-2">
    <%= render partial: "plant_list" %>
  </div>
  <div class="my-2">
    <%= render partial: "notes" %>
  </div>
  <div class="mt-6 text-center">
    <%= button_to "Delete this location", @location, method: :delete, class: "btn-danger", form: { data: { turbo_confirm: "Are you sure?" } } %>
  </div>
</div>
<script>
  function show(modal_id) {
    document.getElementById(modal_id).classList.remove('hidden');
    document.getElementById('modal_backdrop').classList.remove('hidden');
  }

  function hide(modal_id) {
    document.getElementById('modal_backdrop').classList.add('hidden');
    document.getElementById(modal_id).classList.add('hidden');
  }
</script>
