<% content_for :title, @location.name %>

<section class="bg-neutral-100">
  <div class="container pt-6">
    <div class="py-2">
      <%= link_to sanitize("&larr; Back"), locations_path %>
    </div>

    <%= turbo_frame_tag @location do %>
      <% if notice.present? %>
  <div class="flex justify-center pt-4">
    <p class="notice" id="notice"><%= notice %></p>
  </div>
<% end %>


      <div class="flex justify-between items-start sm:items-center">
        <h1><%= @location.name %></h1>
        <%= link_to "Edit", edit_location_path(@location), class: "btn-primary" %>
      </div>
    <% end %>
  </div>
</section>

<section>
  <%= render partial: "overview" %>
</section>

<div id="search_plants_modal" class="modal-full-screen hidden">
  <%= turbo_frame_tag "search_plants" %>
</div>

<div id="plant_summary_modal" class="modal-small hidden">
  <%= turbo_frame_tag "plant_summary" %>
</div>

<div id="modal_backdrop" class="modal-backdrop hidden">
</div>

<script>
  function show(modal_id) {
    document.getElementById(modal_id).classList.remove('hidden');
    document.getElementById('modal_backdrop').classList.remove('hidden');
    document.body.style.overflow = 'hidden'; // Disable background scroll
  }

  function hide(modal_id) {
    document.getElementById('modal_backdrop').classList.add('hidden');
    document.getElementById(modal_id).classList.add('hidden');
    document.body.style.overflow = '';
  }
</script>

