<nav class="w-full border-b border-b-stone-300 shadow">
  <div class="flex items-center">
    <div class="mt-1.5">
      <button class="hamburger hamburger--boring" type="button" onclick="toggleNavMenu()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <div class="absolute left-1/2 -translate-x-1/2 font-bold">
      <% if user_signed_in? %>
        <span>
          <%= link_to tenant.name, root_path %>
        </span>
      <% else %>
        <span>
          <%= link_to "Gardenerd", root_path %>
        </span>
      <% end %>
    </div>
  </div>
  <div id="nav_menu" class="absolute hidden w-full pl-2 bg-white border-b border-b-stone-300 shadow z-50">
    <% if user_signed_in? %>
      <div class="pt-4 p-2">
        <%= link_to "Locations", locations_path %>
      </div>
      <div class="p-2">
        <%= link_to "Plants", plants_path %>
      </div>
      <div class="p-2 pb-6">
        <%= button_to sanitize("Sign out &rarr;"), destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div class="p-2 pb-4">
        <%= link_to "Sign in", new_user_session_path %>
      </div>
    <% end %>
  </div>
</nav>
<script>
  function toggleNavMenu() {
    const hamburger = document.querySelector('.hamburger');
    const nav_menu = document.querySelector('#nav_menu');
    hamburger.classList.toggle('is-active');
    nav_menu.classList.toggle('hidden');
  }

  // Close nav menu on navigation to new page
  document.addEventListener('turbo:visit', function() {
    const hamburger = document.querySelector('.hamburger');
    const nav_menu = document.querySelector('#nav_menu');
    nav_menu.classList.add('hidden');
    hamburger.classList.remove('is-active');
  });
</script>
