<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Gardenerd<%= " - " + content_for(:title) if content_for?(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-full flex flex-col">
    <header data-turbo-permanent>
      <%= render "layouts/navbar" %>
    </header>
    <main class="flex-grow">
      <div class="container pt-6">
        <%= render "layouts/main" %>
      </div>
    </main>
  </body>
</html>

